body {
    margin: 0;
    font-family: 'Palatino Linotype', serif;
    background-color: white;
}

.header {
    background-color: white; /* White background for the header */
    padding: 35px; /* Space inside the header */
}

.banner {
    background-image: url('banner.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 400px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    padding: 20px; 
}

/* Title and subtitle styles */
.title {
    font-size: 78px; 
    color: #D19FBB; 
    margin: 0; 
    padding-left: 25px; 
    font-weight: normal;
}

.subtitle {
    font-size: 18px; 
    color: #573146; 
    margin-top: 10px; 
    padding-left: 25px; 
    font-weight: normal;
}

/* Navigation styles */
.nav-links {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.nav-links li {
    display: inline; 
    margin-right: 15px; 
}

.nav-links a {
    text-decoration: none; 
    color: #573146; 
    transition: color 0.3s; 
}

.nav-links a:hover {
    color: pink; 
}

/* Donation button styles */
.donate-button {
    display: inline-block; 
    background-color: #F6D9E9; 
    color: #573146; 
    font-size: 16px; 
    padding: 15px 30px; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    margin-top: 15px; 
    margin-left: 25px; 
    transition: background-color 0.3s; 
}

.donate-button:hover {
    background-color: #D4B5C1; 
}

/* Divider line */
.divider {
    width: 30%; 
    height: 3px; 
    background-color: black; 
    margin: 20px auto; 
}

/* Founders image */
.founders-image {
    display: block; 
    margin: 20px auto; /* Add margin for spacing */
    width: 80%; 
    max-width: 600px; 
}

.gray-box {
    background-color: #D9D9D9; 
    display: flex; 
    justify-content: space-between; 
    padding: 20px; 
    margin: 20px 0; 
}

.founders-title {
    color: black;         
    font-size: 64px;     
    text-align: center; 
    font-weight: normal;
    margin: 20px 0;     
}



