body {
    margin: 0;
    font-family: 'Palatino Linotype', serif;
}

.nav-bar {
    background-color: white; /* White background for the navbar */
    text-align: center; /* Center align the links */
    padding: 10px 0; /* Padding for the navbar */
}

.nav-links {
    list-style: none; /* Remove bullet points from list */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.nav-links li {
    display: inline; /* Inline display for horizontal layout */
    margin: 0 15px; /* Spacing between links */
}

.nav-links a {
    color: #573146; /* Dark pink font color */
    text-decoration: none; /* No underline */
}

.nav-links a:hover {
    color: pink; /* Change to pink on hover */
}

.banner {
    background-image: url('Polish_20240814_154043407.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 400px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    padding: 20px; 
}

.title {
    font-size: 78px; 
    color: #D19FBB; 
    margin: 0; 
    padding-left: 25px; 
}

.subtitle {
    font-size: 18px; 
    color: #573146; 
    margin-top: 10px; 
    padding-left: 30px; 
}

.donate-button {
    display: inline-block; 
    background-color: #F6D9E9; 
    color: #573146; 
    font-size: 16px; 
    padding: 15px 30px; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    margin-top: 15px; 
    margin-left: auto; 
    margin-right: auto; /* Center the button */
    transition: background-color 0.3s; 
}

.donate-button:hover {
    background-color: #D4B5C1; 
}
